.header-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}