.header-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  margin-left: -5vw;
  width: 100vw;
}

.item {
  text-align: center;
  padding: 50px;
  width: 0.5;
  margin: 5px;
  float: right;
}

img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.linktree {
  padding: 50px
}